
# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

#VS Code
.vscode/

# Python
__pycache__/

# CodeLite
*.mk
*.project
compile_flags.txt

# windows
*.exe